POSTGRES_DB=wallet_db
POSTGRES_USER=wallet_user
POSTGRES_PASSWORD=change-me-strong-password

DATABASE_URL=jdbc:postgresql://postgres:5432/wallet_db
DATABASE_USERNAME=wallet_user
DATABASE_PASSWORD=change-me-strong-password

JWT_SECRET=change-this-in-production-jwt-secret-key-minimum-32-bytes
JWT_ACCESS_TOKEN_EXPIRATION_MS=900000
JWT_REFRESH_TOKEN_EXPIRATION_MS=604800000
OTP_ENABLED=true

SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USERNAME=atuld1603@gmail.com
SMTP_PASSWORD=iwceqfvzuziuadco
MAIL_FROM=no-reply@yourwallet.com

RAZORPAY_KEY_ID=rzp_test_SSckRQfPjuXHdU
RAZORPAY_KEY_SECRET=mXAihThlkh1oUgALg2UnEf8O
RAZORPAY_CURRENCY=INR

VITE_API_BASE_URL=/api
